<div class="container p-4">
  <div [ngClass]="{'alert alert-danger text-center': jarak > 20}"
    [ngClass]="{'alert alert-success text-center': jarak < 20}">
    <span [ngClass]="{'text-success h6': jarak < 20}" [ngClass]="{'text-danger h6': jarak > 20}">
      <i *ngIf="jarak < 20" class="fa fa-check" aria-hidden="true"></i>
      <i *ngIf="jarak >  20" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      Jarak Lokasi anda ke kantor {{jarak | number: "1.0-2"}} meter</span>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="table-responsive text-center">
        <webcam [width]="640" [height]="320" class="img-fluid" [trigger]="triggerObservable"
          (imageCapture)="handleImage($event)" *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch"
          [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" [imageQuality]="1"
          (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>
        <div class="d-block text-center">
          <div class="m-3">
            <mat-checkbox class="example-margin" [(ngModel)]="isWFH">Anda WFH?</mat-checkbox>
          </div>

          <button [disabled]="jarak > 20 && !isWFH" [class.bg-success]="jarak < 20 || isWFH" mat-raised-button
            (click)="triggerSnapshot();" class="border-0 rounded-0  text-white">
            <mat-icon>photo_camera</mat-icon>&nbsp;
            Presensi
          </button>&nbsp;&nbsp;&nbsp;
          <button mat-raised-button color="accent" (click)="toggleWebcam();" class="border-0 rounded-0">
            <mat-icon>sync</mat-icon>&nbsp;
            Ganti Webcam
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-responsive text-center mt-4">
        <div class="text-center" *ngIf="webcamImage">
          <img singleFace [src]="webcamImage.imageAsDataUrl" style="width: 480px;" />
        </div>
      </div>
    </div>
  </div>


</div>
