<div class="container p-4">
  <div class="alert alert-danger text-center">
    <span class="text-danger h6">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      Jarak Lokasi anda ke kantor {{jarak | number: "1.0-2"}} meter</span>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="table-responsive text-center">
        <webcam [width]="640" [height]="320" class="img-fluid" [trigger]="triggerObservable"
          (imageCapture)="handleImage($event)" *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch"
          [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" [imageQuality]="1"
          (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>
        <div class="d-block text-center">
          <button [disabled]="jarak > 20" mat-raised-button color="warn" (click)="triggerSnapshot();"
            class="border-0 rounded-0">
            <mat-icon>photo_camera</mat-icon>&nbsp;
            Presensi
          </button>&nbsp;&nbsp;&nbsp;
          <button mat-raised-button color="accent" (click)="toggleWebcam();" class="border-0 rounded-0">
            <mat-icon>sync</mat-icon>&nbsp;
            Ganti Webcam
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-responsive text-center mt-4">
        <div class="text-center" *ngIf="webcamImage">
          <img singleFace [src]="webcamImage.imageAsDataUrl" style="width: 480px;" />
        </div>
      </div>
    </div>
  </div>


</div>
