<div class="container p-4">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 my-1">
      <mat-card>
        <mat-card-header class="d-flex justify-content-center">
          <mat-card-title>
            <p class="text-center">Info Waktu</p>
          </mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card-content class="mt-4">
          <ul class="list-group w-100">
            <li class="list-group-item border-0">
              <i class="fas fa-clock "></i>&nbsp; Waktu Sekarang<br>
              <span class="h5">{{serverTime}}</span>
            </li>
            <li class="list-group-item  border-0" *ngIf="isPresensi != 200 && !isPresensiMasuk">
              <i class="fas fa-sign-in-alt"></i> &nbsp;Waktu Masuk<br>
              <span class="h5">{{jamMasuk}}. Maksimal {{toleranMasuk}}</span>
            </li>
            <li class="list-group-item  border-0" *ngIf="sisaWaktu != '' && isPresensi != 200 && !isPresensiMasuk">
              <i class="fas fa-stopwatch"></i> &nbsp;Waktu Sisa<br>
              <span class="h5">{{sisaWaktu}}</span>
            </li>
            <li class="list-group-item  border-0" *ngIf="sisaWaktu == '' && isPresensi != 200 && !isPresensiMasuk">
              <i class="fas fa-stopwatch"></i> &nbsp;Waktu Sisa<br>
              <span class="h5">{{status}} {{durasi_keterlambatan}}</span>
            </li>
            <li class="list-group-item  border-0" *ngIf="isPresensiMasuk">
              <i class="fas fa-sign-in-alt    "></i> &nbsp;Presensi Masuk<br>
              <span class="h5">{{jamPresensiMasuk}}</span>
            </li>
            <li class="list-group-item  border-0">
              <i class="fas fa-map-marked-alt"></i> &nbsp;Jarak Dari Kantor<br>
              <span class="h5">{{jarak | number: "1.0-2"}} meter</span>
            </li>
          </ul>
          <a *ngIf="isPresensi == 200" class="border-0 rounded-0  text-white" href="javascript:void(0)" routerLink="/kehadiran"  [ngClass]="{'bg-primary': isPresensi == 200}" mat-raised-button>
            Lihat Rekap Hari Ini
          </a>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6 my-1">
      <mat-card>
        <mat-card-header class="d-flex justify-content-center">
          <mat-card-title>
            <p class="text-center">Presensi </p>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="table-responsive text-center">
            <webcam  [width]="480" [height]="320" class="img-fluid" [trigger]="triggerObservable"
              (imageCapture)="handleImage($event)" *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch"
              [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" [imageQuality]="0.5"
              (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>
            <div class="d-block text-center">
              <button [disabled]="!canPresensi || !showWebcam"  *ngIf="isPresensi != 200" [ngClass]="{'bg-success' : canPresensi}"
                mat-raised-button (click)="triggerSnapshot();" class="border-0 rounded-0  text-white">
                <mat-icon>photo_camera</mat-icon>&nbsp;
                Presensi
              </button>&nbsp;&nbsp;&nbsp;
              <button mat-raised-button color="warn" (click)="toggleWebcam();" class="border-0 rounded-0">
                <mat-icon>sync</mat-icon>&nbsp;
                {{toggleWebcamText}}
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="hasilFoto" role="dialog" aria-labelledby="hasilFoto" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hasil Foto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center" *ngIf="webcamImage">
          <img singleFace [src]="webcamImage.imageAsDataUrl" class="img-fluid" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
